<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="defects"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>../../tests</directory>
        </testsuite>
    </testsuites>

    <!--
        Tests tagged with the other SDK's name only apply to that SDK (vendor
        options, non-spec environment variables, implementation-dependent
        behavior) and are excluded here.
    -->
    <groups>
        <exclude>
            <group>official</group>
        </exclude>
    </groups>
</phpunit>
