<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="defects"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>../../tests</directory>
        </testsuite>
    </testsuites>

    <!--
        The spec group contains every test that verifies specification-defined
        behavior; the tbachert group adds this SDK's vendor-specific tests.
    -->
    <groups>
        <include>
            <group>spec</group>
            <group>tbachert</group>
        </include>
    </groups>
</phpunit>
